@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

h2,
h3 {
    color: #F5A962;
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #125D98;
    text-align: center;
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #DDDDDD;
    text-align: center;
    color: #FFFFFF;
}

#content {
    float: right;
    width: 72.5%;
}

aside {
    float: left;
    width: 25%;
}

#puisi p {
    line-height: 5px;
    font-size: 30px;
    font-family: 'Allison', cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    width: 25%;
}

.container img:hover {
    transform: scale(1.5);
    margin: 0px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    
}

@media screen and (max-width: 1325px) {
    #puisi {
        line-height: 40px;
    }

    #puisi p {
        line-height: 20px;
    }
}

@media screen and (max-width: 1200px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .container img:hover {
        margin: 0px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
        
    }
}

header {
    display: inline;
}

#tentangSaya {
    text-align: center;
}

th {
    text-align: left;
}

nav {
    background-color: #125D98;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav .icon {
    display: none;
}

nav a:hover {
    font-weight: bold;
    color: #3C8DAD;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
    display: none;
    }
    nav a.icon {
    float: right;
    display: block;
    color: #3C8DAD;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {position: sticky;}
    nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}